<template name="about">
	<div id="about_wrap">
		<div id="about_container">
			<div class="section_wrap">
				<div class="section">
					<div class="image">
						<img src="../../images/spine.png" width="300" height="200" alt="Spine">
					</div>
					<div class="bio">
						<h1>Welcome.</h1>
						<p>We appreciate your interest in learning more about Dr. Charles Goodwin and his staff for your orthopedic care.
						We are dedicated to providing the highest-quality care with compassion and trust. We provide a comprehensive evaluation with prompt and efficient assessment and treatment. Dr. Charles Goodwin is an orthopedic surgeon at the <a href="http://www.hss.edu/">Hospital for Special Surgery</a>, specializing in <a href"#">spine surgery</a> and sports medicine of the <a href"#">knee and shoulder</a>. He has been an orthopedic surgeon for the New York Mets, The New York Knicks, The US Tennis Association, the US Open Golf, The New York City Ballet and the American Ballet Theatre.</p>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div class="section_two_wrap">
				<div class="section_two">
					<div class="bio_two">
						<h1>Hospital for Special Surgery</h1>
						<p>At Hospital for Special Surgery, we provide the most advanced and innovative diagnostic and therapeutic technologies and techniques. Hospital for Special Surgery was recently <b>ranked #1 in the United States for Orthopedic Care</b> by US News and World Report’s Guide to the Best Hospitals. Our primary office is at <a href="http://www.newyorkphysicians.com/"><b>New York Physicians</b></a> in Manhattan. There is also an office at <a href="www.orthopedicspecialists.com">Orthopedic Specialists of New York</a> in Locust Valley. Dr. Goodwin is also a spine specialist at <a href="http://www.iosmpc.com/">Island Orthopedics and Sports Medicine</a> in Massapequa. This office serves Long Island patients, who want local care and access to <a href="http://www.hss.edu/">Hospital for Special Surgery</a> in Manhattan.</p>
					</div>
					<div class="image_two">
						<img src="../../images/knee_surg.png" width="300" height="200" alt="Spine">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>