<template name="footer">
	<div id="footer_container">
		<div class="groove"></div>
		<div id="footer">
			<div class="logo">
				<a href="http://drsite.meteor.com/"><img src="../../images/small_logo.png" alt="Logo"></a>
			</div>
			<div class="footer_links">
				<div class="block"></div>
				<ul>
					<li><a href="http://www.newyorkphysicians.com/" target="_blank">New York Physicians</a></li>
					<li><a href="http://www.hss.edu/" target="_blank">Hospital For Special Surgery</a></li>
					<li><a href="www.orthopedicspecialists.com" target="_blank">Orthopedic Specialists of New York</a></li>
					<li><a href="www.nyp.org" target="_blank">New York-Presbyterian Hospital</a></li>
				
				</ul>
				<div class="bullet_point">
					<a href="http://drContact.meteor.com/">Contact</a>
				</div>
			</div>
			<div class="map">
				<img src="../../images/markerdot.png" width="19" height="33" alt="Markerdot">
			</div>
			<p >635 Madison Ave New York, NY 10022</p>
			
		</div>
		<div class="copyright"><p>Copyright © 2008. Charles Goodwin. Phone: 212-857-4600 | Fax: 212-759-1685<p></div>
	</div>
</template>