<template name="header">
	<div id="header">
		<div id="headerInner">
				<div class="logo">
					<a href="http://drsite.meteor.com/"><img src="../../images/small_logo.png" alt="Logo"></a>
				</div>
			<div class="nav">
				<div class="pages">
					<ul id="nav">
						<li class="active">
							<a href="http://drAbout.meteor.com/">About</a>
						</li>
						<li class="contact">
							<a class="active" href="http://drcontact.meteor.com/">Contact</a>
						</li>
					</ul>
				</div>
				<div class="nav_button"><h2>Surgical Procedures</h2></div>
			</div
			<div style="clear:both"></div>
			<div class="grooves">
				<div class="top_groove"></div>
			    <div class="bottom_groove"></div>
			</div>
		</div>
		

</template>