#footer_container {
height: 237px;
background-color:#606668;
border-top:1px solid black;
background: url('../../images/grey_pattern2.png') repeat;
position: relative;
bottom: 6px;
}
#footer_container #footer {
bottom: 0px;
width:960px;
margin:0 auto;
margin-top: 37px;
}
#footer_container .groove{
border: 1px solid #EEE;
border-top: 2px solid white;
border-bottom: 2px solid #012d53;
}
#footer .logo {
float:right;
margin-right: -9px;
margin-top:15px;
}
#footer .bullet_point {
height:20px;
margin-left: 110px;
width: 16px;
background-color: #11344F; /* layer fill content */

}
#footer .footer_contact a{
color:white;
font-weight:bold;
margin-left:30px;
}
#footer .footer_links {
float:right;
margin-right: 78px;
margin-top:20px;
}
#footer .footer_links .block {
height:80px;
width:16px;
background-color: #11344F;
margin-left:110px;
margin-top:-19px;
z-index: 1099;
}
#footer .footer_links a{
color:#dbd9d9;
text-shadow: 1px 1px 0px #000000;
font-weight:bold;
margin-left:30px;
text-decoration:none;
}
#footer .footer_links ul {
margin-left: 74px;
margin-top: -82px;
line-height: 1.4;
}
#footer a:hover {
color: #11344F;
cursor:pointer;
}
#footer .map {
background: url('../../images/Layer34.png') no-repeat;
height: 102px;
width: 134px;
}
#footer .map img {
margin-left:29px;
margin-top:19px;
}
#footer p {
color:#dbd9d9;
text-shadow: 1px 1px 0px #000000;
font-size:12px;       
}
#footer_container .copyright {
color: white; /* text color */
font-family: "PT Sans", sans-serif;
font-size: 12px;
font-weight: normal;
text-align:center;
margin-left: -1%;
padding-top:7px;
margin-top:29px;
height:38px;
background: #012d53;
}